{% load staticfiles %}

<ul class="tzwb-posts-list">
    {% for link in links %}
        <li class="tzwb-has-thumbnail">
            <a href="{{link.url}}" title="{{link.title}}">
                <img width="90" height="65" src="{{link.image}}"
                    class="attachment-tzwb-thumbnail size-tzwb-thumbnail wp-post-image" alt="" />
            </a>
            <a href="{{link.url}}" title="{{link.title}}">
                {{link.title}}
            </a>
            <div class="entry-meta">
                {% include 'poseidon/pieces/date.html' with date=link.date url=link.url %}
            </div>
        </li>
    {% endfor %}
</ul>
