{% load staticfiles %}

<header id="masthead" class="site-header clearfix" role="banner">
    <div class="header-main container clearfix">
        <div id="logo" class="site-branding clearfix">
            <h1 class="site-title">
                <a href="/" rel="home">
                    <img src="{% static 'images/logo/logo.png' %}" />
                </a>
            </h1>
        </div>
        <nav class="primary-navigation" id="main-navigation" role="navigation">
            {% include 'poseidon/navigation.html' with mainClass="main-navigation-menu" %}
        </nav>
    </div>
</header>
